.common-consumption {
  flex: 1;
  max-width: 60em;
  padding: 2em;
  border-radius: 1em;
  background: var(--background-highlight-color);
}

.common-consumption h2 {
  margin: 0.1em 0 1em;
  white-space: break-spaces !important;
}

.common-consumption p {
  margin: 0.2em;
}

.common-consumption .input-grid {
  display: grid;
  grid: 'amountLable' 'amountInput' 'timesLable' 'timesInput';
}

.common-consumption label {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.common-consumption .co2-value + .co2-value {
  margin-top: 6em;
}

.common-consumption .charts-container {
  display: flex;
  justify-content: space-around;
  padding-left: 3em;
  padding-right: 3em;
}

.common-consumption .charts-description {
  text-align: center;
}

.common-consumption .pie-chart-container {
  margin-left: -9em;
  margin-right: -9em;
  transition: flex 1s;
}

.common-consumption .pie-chart {
  width: 100%;
}
