.producers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin: 2em 0 4em 0;
}

.producer {
  display: flex;
  flex-direction: column;
}

.producer h2 {
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producer .fields {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.producer.show .fields {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 6rem;
  font-size: 1.2em;
  margin: 2em 0;
}

.producer .field p {
  margin: 0;
}

.producer .amount-per-unit {
  display: flex;
  gap: 0.2em;
}

.producer.index .amount-per-unit .amount {
  flex: 1;
  text-align: right;
}

.producer.show .amount-per-unit .amount {
  min-width: 12ch;
  text-align: right;
}

.producer .amount-per-unit .per {
  opacity: var(--muted);
}

.producer .amount-per-unit .unit {
  white-space: nowrap;
  flex: 1;
  opacity: var(--muted);
}

.producer .source {
  word-break: break-word;
}

.producer .edit-delete {
  margin-top: 1em;
}

#form-group-co2Emitter_source textarea {
  height: 10rem;
}
