@import './producer-index.css';
@import './producer-show.css';
@import './producer-common-consumption.css';

.producers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin: 2em 0 4em 0;
}

.producer .title h2 {
  margin: 0;
}

.producer h2 {
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producer .fields {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.producer .field {
  padding: 1em;
  background-color: var(--accent-color);
}
.producer .field:nth-child(1) {
  background-color: var(--category-lum-9);
}
.producer .field:nth-child(2) {
  background-color: var(--category-lum-8);
}
.producer .field:nth-child(3) {
  background-color: var(--category-lum-7);
}
.producer .field:nth-child(4) {
  background-color: var(--category-lum-6);
}

.producer .field p {
  margin: 0;
}
.producer .amount-per-unit .amount {
  display: block;
}

.producer .amount-per-unit .amount b {
  font-size: 3em;
  font-weight: 400;
  line-height: 1em;
}

.producer .amount-per-unit {
  text-align: right;
}

.producer .amount-per-unit .per {
  margin-right: 0.3em;
}

.producer .amount-per-unit .unit {
  white-space: nowrap;
  flex: 1;
}

.producer .source {
  word-break: break-word;
}

#form-group-co2Emitter_source textarea {
  height: 10rem;
}

.background-color {
  background-color: white;
}

.co2-amount .weight-integer-part {
  font-size: 2em;
  font-weight: bold;
}

.co2-amount .weight-fractional-part {
  font-weight: bold;
  margin-right: 0.2em;
}

.producer-amount {
  font-size: 2em;
}
