.producer.show header .title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0 2rem;
  margin-top: 2em;
}

.producer.show header h1 {
  margin: 0;
  line-height: 1em;
}

.producer.show header h1 small {
  font-size: 0.5em;
  font-weight: 400;
}

.producer.show .edit-delete {
  margin-left: auto;
}

.producer.show .co2-values {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 2em 4em;
  margin-top: 4em;
}

.producer.show .description {
  margin-top: 4em;
}

.producer.show .details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin: 1em 0 4em 0;
}

.producer.show .detail {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  border: 4px solid var(--boarder-color);
  border-radius: 0.4em;
  overflow: hidden;
}

.producer.show .fields a {
  line-break: anywhere;
}

.producer.show .detail .information {
  padding: 1em;
  color: var(--background-color);
  background-color: var(--accent-color);
  text-align: right;
}

.producer.show .source_heading {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

.producer.show .source {
  font-size: 0.8em;
}
