.producer.show header .title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0 2rem;
}

.producer.show header h1 {
  margin: 0;
}

.producer.show .edit-delete {
  margin-left: auto;
}

.producer.show .details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin: 2em 0 4em 0;
}

.producer.show .detail {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  border: 4px solid var(--boarder-color);
  border-radius: 0.4em;
  overflow: hidden;
}

.producer.show section {
  padding: 0;
}

.producer.show .detail .information {
  height: 100%;
  padding: 1em;
  color: var(--background-color);
  background-color: var(--accent-color);
  text-align: right;
}

.producer.show .description {
  grid-area: description;
}

.producer.show .source {
  grid-area: source;
}

@media (min-width: 768px) {
  .producer.show .section-layout {
  }
}
