:root {
  --blue: #007bff;
  --gray: #f5f5f5;
  --light-gray: #f8f9fa;
  --medium-gray: #ddd;
  --darken: #0000000a;
  --red: #aa0000;
  --accent-hue: 211;

  --accent-color: hsl(var(--accent-hue), 100%, 40%);

  --background-color: white;
  --background-highlight-color: var(--gray);

  --background-1: hsl(var(--accent-hue), 100%, 99.5%);
  --background-2: hsl(var(--accent-hue), 100%, 98%);
  --background-3: hsl(var(--accent-hue), 100%, 96.5%);
  --background-4: hsl(var(--accent-hue), 100%, 95%);
  --background-5: hsl(var(--accent-hue), 100%, 60%);

  --boarder-color: var(--accent-color);

  --text-color: #222;
  --text-color-navigation: hsl(0, 0%, 26%);

  --line-color: var(--medium-gray);

  --error-color: var(--red);

  --muted: 0.7;

  --border-radius: 0.2rem;
}
