:root {
  --gray: #f5f5f5;
  --medium-gray: #ddd;
  --darken: #0000000a;
  --red: #aa0000;
  --green: #12b378;

  --color-1-hue: 203;
  --color-2-hue: 347;
  --color-3-hue: 22;
  --color-4-hue: 172;
  --color-5-hue: 247;

  --color-lum-9: 97%;
  --color-lum-8: 95%;
  --color-lum-7: 93%;
  --color-lum-6: 91%;
  --color-lum-5: 60%;

  --color-1: hsl(var(--color-1-hue), 100%, 28%);
  --color-2: hsl(var(--color-2-hue), 72%, 48%);
  --color-3: hsl(var(--color-3-hue), 77%, 55%);
  --color-4: hsl(var(--color-4-hue), 74%, 35%);
  --color-5: hsl(var(--color-5-hue), 6%, 42%);

  --color-1-lum-9: hsl(var(--color-1-hue), 100%, var(--color-lum-9));
  --color-2-lum-9: hsl(var(--color-2-hue), 100%, var(--color-lum-9));
  --color-3-lum-9: hsl(var(--color-3-hue), 100%, var(--color-lum-9));
  --color-4-lum-9: hsl(var(--color-4-hue), 100%, var(--color-lum-9));
  --color-5-lum-9: hsl(var(--color-5-hue), 100%, var(--color-lum-9));

  --color-1-lum-8: hsl(var(--color-1-hue), 100%, var(--color-lum-8));
  --color-2-lum-8: hsl(var(--color-2-hue), 100%, var(--color-lum-8));
  --color-3-lum-8: hsl(var(--color-3-hue), 100%, var(--color-lum-8));
  --color-4-lum-8: hsl(var(--color-4-hue), 100%, var(--color-lum-8));
  --color-5-lum-8: hsl(var(--color-5-hue), 100%, var(--color-lum-8));

  --color-1-lum-7: hsl(var(--color-1-hue), 100%, var(--color-lum-7));
  --color-2-lum-7: hsl(var(--color-2-hue), 100%, var(--color-lum-7));
  --color-3-lum-7: hsl(var(--color-3-hue), 100%, var(--color-lum-7));
  --color-4-lum-7: hsl(var(--color-4-hue), 100%, var(--color-lum-7));
  --color-5-lum-7: hsl(var(--color-5-hue), 100%, var(--color-lum-7));

  --color-1-lum-6: hsl(var(--color-1-hue), 100%, var(--color-lum-6));
  --color-2-lum-6: hsl(var(--color-2-hue), 100%, var(--color-lum-6));
  --color-3-lum-6: hsl(var(--color-3-hue), 100%, var(--color-lum-6));
  --color-4-lum-6: hsl(var(--color-4-hue), 100%, var(--color-lum-6));
  --color-5-lum-6: hsl(var(--color-5-hue), 100%, var(--color-lum-6));

  --accent-color: var(--color-1);

  --background-color: white;
  --background-highlight-color: var(--gray);

  --boarder-color: var(--accent-color);

  --text-color: #222;
  --text-color-navigation: hsl(0, 0%, 26%);

  --line-color: var(--medium-gray);

  --error-color: var(--red);

  --muted: 0.7;

  --border-radius: 0.2rem;
}
