.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}
.table .amount-of-per {
  padding-right: 0;
}
.table .per-of-amount {
  padding-left: 0;
}
.table td.per {
  color: #ddd;
  width: 3px;
  padding-left: 0.4em;
  padding-right: 0.3em;
}

.table .clickable-row {
  cursor: pointer;
  cursor: hand;
}

.table .clickable-row:hover {
  background-color: var(--background-highlight-color);
}
